<h1 class="page-header text-right"> Project Tracker</h1>

    <div class="row">

<div class="col-lg-3 col-md-6">
<div class="panel panel-primary1">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3">
<i class="fa fa-comments fa-5x"></i>
</div>
<div class="col-xs-9 text-left">
<div class="huge1">Tracks projects for you and gets you all the status without any effort.</div>

</div>
</div>
</div>

</div>

<div class="col-lg-3 col-md-6" id="aks1">
<div class="panel panel-primary">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3">
<i class="fa fa-comments fa-5x"></i>
</div>
<div class="col-xs-9 text-right">
<div class="huge">WHO</div>

</div>
</div>
</div>

<div class="panel-footer" id="aks1">
<span class="pull-left">Gets you the information of the user WHO made the changes</span>
<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div>

</div>
</div>


</div>
<div class="col-lg-3 col-md-6" id="aks1">
<div class="panel panel-green">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3">
<i class="fa fa-tasks fa-5x"></i>
</div>
<div class="col-xs-9 text-right">
<div class="huge">WHEN</div>
</div>
</div>
</div>

<div class="panel-footer">
<span class="pull-left">Gets you the information about WHEN the changes was made by the user.</span>
<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div>

</div>
</div>
<div class="col-lg-3 col-md-6" id="aks1">
<div class="panel panel-yellow">
<div class="panel-heading">
<div class="row">
<div class="col-xs-3">
<i class="fa fa-shopping-cart fa-5x"></i>
</div>
<div class="col-xs-9 text-right">
<div class="huge">WHAT</div>

</div>
</div>
</div>
<a href="#">
<div class="panel-footer">
<span class="pull-left">Gets you the information about WHAT changes was made to the project.</span>
<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
<div class="clearfix"></div>
</div>
</a>
</div>
</div>

</div>